<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Telovýchovná jednota Dynamo{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets '@bootstrap_css' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/gif" href="{{ asset('favicon.gif') }}" />
    <meta name="author" content="Lubo Karaba" />
    <meta name="keywords" content="dynamo,telovychovna,jednota" />
</head>
<body>
{% block body %}{% endblock %}

{% block javascripts %}
    {% javascripts '@jquery' '@bootstrap_js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>