{% extends 'DynamoPortalBundle::layout.html.twig' %}

{% block content %}
    <div class="container container-fluid">
        <div class="row">
            <div class="col-lg-12" style="font-size: 120%; padding: 0 40px;">
                <h2 class="text-center">
                    <a href="{{ asset('bundles/dynamoportal/doc/Vyhlasenie_2percenta-Dynamo-2015.pdf') }}">
                        ----->>> Predvyplnené vyhlásenie o zaplatení 2% z dane <<<-----
                    </a>
                </h2>
                <br/>
                <p>
                    Okrem tohto vyhlásenia potrebujete <b>potvrdenie o zaplatení dane od zamestnávateľa</b>
                    (ak ste zamestnanci), alebo vlastné daňové priznanie.
                    <br />
                    Oba dokumenty doručte <b>do 30.4.2016 na ľubovoľný daňový úrad</b>. Ďakujeme!
                </p>
                <hr>
                <br/>
                <h3>Ahojte Dynamovci!</h3>
                <p>
                    Určite ste v týchto dňoch dostali mnoho e-mailov ohľadom poukázania 2% z daní. Keďže Dynamo nie je
                    len o športe, nechceme ostať pozadu. Naše občianske združenie už dozrelo do veku, kedy môže
                    prijímať 2 %.
                </p>
                <div>
                    Peniaze by sme chceli použiť nasledovne:
                    <ul>
                        <li>organizácia <b>splavu pre deti z detských domovov</b></li>
                        <li><b>podpora členov</b> pri účastiach na súťažiach</li>
                        <li><b>organizácia športových podujatí</b></li>
                        <li><b>drobná pozornosť prispievateľom 2 %</b></li>
                        <li><b>prevádzka OZ</b> (poplatky, web, trofeje, nálepky, ...)</li>
                        <li>iné</li>
                    </ul>
                    Všetko bude záležať od toho, koľko vyzbierame.
                </div>
                <p>
                    V roku 2014 sa vďaka Maťovej iniciatíve a dobrovoľnej podpore niektorých z vás podarilo zorganizovať
                    Domovácky splav pre 28 detí z detského domova v Kolárove. Prostredníctvom
                    <a href="https://www.ludialudom.sk/vyzvy/1528" target="blank">
                        https://www.ludialudom.sk/vyzvy/1528
                    </a> a ďalších dobrovoľných príspevkov sme túto akciu spolu s ľuďmi, ktorým sme o nej povedali,
                    podporili sumou <b>1 500 €</b>.
                    <br/>
                    Fotky z tejto akcie nájdete
                    <a href="http://www.mareksvantner.com/Kukucky/Indi%C3%A1nsky%20Kuku%C4%8Dkovk%C3%BD%20splav%20J%C3%BAn%202014/index.html"
                       target="blank">
                        v galérii Indiánsky Kukučkovký splav Jún 2014
                    </a>.
                </p>
                <p>
                    V roku 2015 sa na domovácky splav podarilo cez portál
                    <a href="https://www.ludialudom.sk/vyzvy/2455" target="blank">Ľudiaľuďom.sk</a> vyzbierať sumou
                    <b>1 295 €</b>. Ďalšie financie sme prispeli z 2 %.
                </p>
                <p>
                    Za rok 2015 nám na účet z 2 % z dane došlo neuveriteľných 1 872,72 €, za čo všetkým prispievateľom
                    ďakujeme a budeme radi, keď nás napríklad touto formou podporíte aj v budúcnosti. Aby bola vaša
                    motivácia vyššia, ten kto poukáže 2% ako darček dostane malú pozornosť vo forme nejakej drobnosti
                    na športovanie (ponožky, potítko, buffka, ...) vo farbách Dynama!!!
                </p>
                <p>
                    Názov a detaily pre poukázanie 2% z daní:
                </p>
                <address>
                    <b>Obchodné meno/názov:</b> TJ Dynamo Dolný Kubín<br/>
                    <b>Sídlo:</b> Dolný Kubín, 026 01, Hurbanova 3<br/>
                    <b>Právna forma:</b> občianske združenie<br/>
                    <b>Identifikačné číslo prijímateľa:</b> 42346975<br/><br/>
                </address>
                <p class="text-right">
                    Ďakujem a nie len športu ZDAR!<br>
                    Keptn
                </p>
            </div>
        </div>
    </div>
{% endblock %}
